@model IcfShipping.ViewModels.HomeDetailsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
       @*  <h3>@ViewData["PageTitle"]</h3>
        @{
            var employee = ViewData["Employee"] as IcfShipping.Models.Employee;
        }
        <div>
            Name :- @employee.Name
        </div>
        <div>
            Email :- @employee.Email
        </div>
        <div>
            Department :- @employee.Department
        </div> *@

        <h3>@Model.PageTitle</h3>
     
        <div>
            Name :- @Model.Employee.Name
        </div>
        <div>
            Email :- @Model.Employee.Email
        </div>
        <div>
            Department :- @Model.Employee.Department
        </div>
    </body>
</html>
